main {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginInput {
  margin-top: 2rem;
}

#sendBtn {
  width: 7rem;
  height: 2rem;
  background: var(--color-black);
  color: var(--color-white);
  margin-top: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

#registerInstead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

#registerInsteadBtn {
  margin-left: 0.5rem;
}

#registerInsteadBtn a {
  color: var(--color-black);
}

.input {
  width: 17rem;
  height: 3rem;
  border-bottom: 1px solid var(--color-black);
  padding-left: 2.5rem;
  outline: none;
}
.input-icon {
  position: relative;
}

.input-icon > svg {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  left: 0.625rem;
  top: 2rem;
}

.input-icon > input {
  padding-left: 2.5rem;
}
