@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Colors for everything */
  --color-black:  #121212;
  --color-white: #F2F2F2;
  --color-red: #881717;

  --color-white-cream: #f5f3e7;
  --color-gray-dark: #3d444c;
  --color-blue-seattle: #2e50a2;

  --background-color: #121212;
  --box-color: #212325;
  --text-color: #F2F2F2;
  --accent-color: #007fff;

  --background-color-rgba: rgba(245, 243, 231, 0.7);
  --box-color-rgba: rgba(242, 242, 242, 0.7);
  --text-color-rgba: rgba(18, 18, 18, 0.7);
  --accent-color-rgba: rgba(0, 127, 255, 0.7);

  /* Font, font weights and font sizes */
  --font: 'Inter';

  --font-light: 200;
  --font-regular: 400;
  --font-bold: 600;

  --font-large: 3.5rem;
  --font-regular: 2rem;
  --font-text: 1rem;
}
/* default classes */

.dark-mode {

  --background-color: #f5f3e7;
  --box-color: #F2F2F2;
  --text-color: #121212;
  --accent-color: #2e50a2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  border: 0;
}

input {
  border: 0;
  padding: 0;
  margin: 0;
}

router-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--color-black);
  text-decoration: none;
}

.weight-light {
  font-weight: var(--font-light);
}

.weight-regular {
  font-weight: var(--font-regular);
}

.weight-bold {
  font-weight: var(--font-bold);
}

.height-large {
  font-size: var(--font-large);
}

.height-regular {
  font-size: var(--font-regular);
}

.height-text {
  font-size: var(--font-text);
}

/* Custom elements */

.input-auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
}

.small-auth-input {
  min-width: 16rem;
  height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-black);
}

.authButton {
  margin: 0.5rem 0rem 0.75rem 0rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}